[toolchain]
package_manager = "npm"

[features]
resolution = true
skip-lint = false

[programs.devnet]
pharma_trace = "5DMXqq7v2gkNSyBQ9P6XMFgUFQNcLdJHdhFi9JEPfcpa"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npm run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

[workspace]
types = "frontend/src/types"